.section-title {
  font-family: "Lobster";
  font-size: 26px;
  padding-bottom: 12px;
}

.buttonStyles {
  border: 1px solid white;
  width: 100%;
  color: white;
  font-family: Lobster;
}

.linksContainer {
  font-family: Lobster;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
