.buttonStyles {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid white;
  border-radius: 5px;
  width: 100%;
  color: white;
  font-family: Lobster;
  height: 40px;

  position: relative;
  overflow: hidden;
}

.menu-button--filter {
  position: absolute;
  background-color: white;
  height: 100%;
  width: 100%;

  filter: blur(6px);
  opacity: 0.2;
}
.languages {
  position: absolute;
  left: 0;
  display: flex;
  gap: 4px;
  font-size: 10px;
}
